{
  "timeout": 10,
  "source": {
    "directories": [
      "src"
    ],
    "excludes": [
      "/ConnectionPool\\.php/",
      "/Dms\\/MySQL\\/Connection\\/Connection\\.php/",
      "/Generator\\/Writer\\/AbstractWriter\\.php/"
    ]
  },
  "logs": {
    "text": "var\/log\/infection.log",
    "badge": {
      "branch": "master"
    }
  },
  "mutators": {
    "@default": true
  }
}
